.fasfas{
    font-size: 10px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: steelblue;
}
.promise{
    text-align: center;
    color: blue;
}
.admin{
    text-align: center;
}